.flyout-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 20px;
  background: #111;
  color: white;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.flyout-panel.open {
  transform: translateX(0);
}

.flyout-close-btn {
  position: absolute;
  top: 0.2px;
  right: 0.2px;
  background: transparent;
  color: grey;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.flyout-icon {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.flyout-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.flyout-description {
  font-size: 1em;
  margin-bottom: 10px;
}

.flyout-link {
  color: #00aaff;
  text-decoration: underline;
}

#flyout {
  position: fixed;
  top: 60px; /* Equal to header height */
  left: 0;
  width: 300px;
  height: calc(100% - 60px); /* Full height minus header */
  background-color: #111;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  color: white;
  overflow-y: auto;
  z-index: 999;
  display: none;
}
#flyout.open {
  display: block;
}

#flyout-skills {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
  color: white;
}

#flyout-year {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaa;
}
/* Add a hover effect for the flyout panel */
.flyout-panel:hover {
  background: #222;
}

#flyout-skills-label {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

#flyout-location {
  color: #ccc;
  font-style: italic;
}

#flyout-model-reference {
  position: relative;
  bottom: -15px;
  font-size: 0.9em;
  color: #888;
  font-style: italic;
  max-width: 300px;
}

#flyout-model-reference a {
  color: #4ea1f3;  /* soft, modern blue */
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s ease;
}

#flyout-model-reference a:hover {
  color: #72c1ff;  /* lighter on hover */
  text-decoration: underline;
}
